body
{
    
    background: wheat;
    margin: 0;
    padding: 0;
}
.sign-up-form
{
    border: 2px solid;
    width: 300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 5% auto 0;
    text-align: center;
}

.sign-up-form h1
{
    margin-bottom: 30px;

}

.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid black;
}

button
{
    width: 90%;
    border-radius: 25px;
    font-size: 23px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
.signup-btn
{
    background-color: green;
    color: aliceblue;
}

.twitter-btn
{
    background-color: #21afde;
}

a
{
    text-decoration: none;
}

hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}

img
{
    width: 60px;
    margin-top: -50px;
}