body
{
    background-color: wheat;
    font-family: 'Roboto', sans-serif;
}

.signup-box
{
    width: 360px;
    height: 600px;
    margin: auto;
    border-radius: 5px;
} 

.login
{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 5px;
} 

h1
{
    text-align: center;
    margin-top: 15px;
}
h4
{
    text-align: center;
}

form
{
    width: 300px;
}

form label
{
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}

input
{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

input[type="button"]
{
    width: 315px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: green;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

p
{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.already
{
    text-align: center;
    font-size: 15px;
    margin-top: -10px;

}
.already
{
    color: green;
}

.twitter-btn
{
    background-color: #21afde;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid black;
}



button
{
    width: 105%;
    border-radius: 25px;
    font-size: 23px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
